* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;   
}

ul {
    list-style: none;
    background: #22438C;
}

ul li {
    display: inline-block;
    position: relative
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li a:hover {
    background: #112C66;
}

ul li:hover ul.dropdown {
    display: block;
}

ul ul.dropdown {
    display: none;
    position: absolute;
    background: #22438C;
    border-top: 0;
    margin-left: 0;
    min-width: 100%;
}

ul ul.dropdown li {
    display: block;
}
